@font-face {
  font-family: 'Apercu';
  src: url('fonts/Apercu/Apercu-Mono.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-Black.eot');
  src: url('fonts/Circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-Black.woff') format('woff'), url('fonts/Circular/CircularStd-Black.ttf') format('truetype'), url('fonts/Circular/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-BlackItalic.eot');
  src: url('fonts/Circular/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-BlackItalic.woff') format('woff'), url('fonts/Circular/CircularStd-BlackItalic.ttf') format('truetype'), url('fonts/Circular/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-Bold.eot');
  src: url('fonts/Circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-Bold.woff') format('woff'), url('fonts/Circular/CircularStd-Bold.ttf') format('truetype'), url('fonts/Circular/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-BoldItalic.eot');
  src: url('fonts/Circular/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-BoldItalic.woff') format('woff'), url('fonts/Circular/CircularStd-BoldItalic.ttf') format('truetype'), url('fonts/Circular/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-Medium.eot');
  src: url('fonts/Circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-Medium.woff') format('woff'), url('fonts/Circular/CircularStd-Medium.ttf') format('truetype'), url('fonts/Circular/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-MediumItalic.eot');
  src: url('fonts/Circular/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-MediumItalic.woff') format('woff'), url('fonts/Circular/CircularStd-MediumItalic.ttf') format('truetype'), url('fonts/Circular/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-Book.eot');
  src: url('fonts/Circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-Book.woff') format('woff'), url('fonts/Circular/CircularStd-Book.ttf') format('truetype'), url('fonts/Circular/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('fonts/Circular/CircularStd-BookItalic.eot');
  src: url('fonts/Circular/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Circular/CircularStd-BookItalic.woff') format('woff'), url('fonts/Circular/CircularStd-BookItalic.ttf') format('truetype'), url('fonts/Circular/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}

html::-webkit-scrollbar{ background-color: whitesmoke; width: 4px; height: 0;}
html::-webkit-scrollbar-thumb{ background-color: #bdbdbd; }


.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.transactions {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

.header {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
}

h1 {
  font-family: 'CircularStd';
  font-weight: 800;
  line-height: 1;
}

button, a {
  cursor: pointer;
  box-shadow: none;
  background: transparent;
  font-family: 'Apercu';
  margin-right: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  outline: none;
  font-size: 0.9rem;
  height: 2.5rem;
  width: 6rem;
}

button:hover, a:hover {
  background: black;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #000;
  padding: 0.75rem;
}

table {
  width: 100%;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #FAFAFA;
}

.table thead, th {
  font-family: 'Apercu';
  padding: 0.5em 0.75em;
  background-color: #000;
  color: #FFF;
}

.table td, tr, tbody {
  font-family: 'Apercu';
  padding: 0.5em 0.75em;
  vertical-align: top;
  text-align: left;
}

svg.feather {
    vertical-align: sub;
}

svg.feather.feather-external-link {
    vertical-align: top;
}

.helper {
  align-self: flex-end;
  font-size: 0.75rem;
}

.optin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.optin-parent {
  display: flex;
  flex-direction: column;
}

.coverage {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.registration {
  margin: 3rem;
}

.icon {
  border: none;
  padding: 0;
}

.icon:hover {
  background: #FFF;
  color: #000;
}

input {
  font-family: 'Apercu';
  font-size: 1rem;
  height: 2.25rem;
  outline: none;
  min-width: 20rem;
  border-style: solid;
  border-width: 2px;
  margin-right: 1rem;
  border-color: #bdbdbd;
}

input[type=text], input[type=email] {
  padding-left: 0.75rem;
}

.input-rows {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.input-address {
  width: 42rem;
}

.evaluate-address {
  max-width: 23rem;
}

.actual-coverage {
  display: flex;
  flex-direction: column;
  width: 15rem;
  align-self: center;
}

.coverage-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.is-apercu {
  font-family: 'Apercu' !important;
}

.is-big {
  font-family: 'CircularStd';
  font-weight: bolder;
  font-size: 2rem;
}

.is-medium {
  font-family: 'CircularStd';
  font-weight: bolder;
  font-size: 1.5rem;
}

.slider {
  cursor: pointer;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: calc(100%); /* Full-width */
  height: 5px; /* Specified height */
  background: transparent; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  opacity: 1;
  transition: opacity .2s;
  margin: 0px;
  margin-top: 3rem;
  border: none;
  z-index: 999;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: lightgrey; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;

}

.slider::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: lightgrey; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100%);
  height: 5px;
  margin-top: -0.25rem;
}

progress[value]::-webkit-progress-bar {
  background-color: #F2F2F2;
}

progress[value]::-webkit-progress-value {
  background-color: #1E9280;
}

.is-green {
  color: #1E9280;
}

.map {
  margin-top: 2rem;
  width: 25rem;
}

.map a, .evaluate a {
  background: none !important;
  border: none;
}

.map a:hover, .evaluate a {
  background: none;
}

input[type="submit"] {
  cursor: pointer;
  border-color: #1E9280;
  background: #1E9280;
  color: #FFF;
  margin-top: 1rem;
  float: right;
  min-width: 5rem !important;
  height: 3rem;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.evaluate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.evaluate-left {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 5rem;
  max-width: 25rem;
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
}

.evaluate-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.evaluation {
  align-self: center;
  height: 20rem;
}

p.address {
  font-family: 'Apercu';
  font-size: 1.5rem;
  width: 17.5rem;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: -0.25rem;
}

.address-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.address-parent .feather {
  cursor: pointer;
}

p.suggestion {
  cursor: pointer;
  font-family: 'Apercu';
  margin: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  padding-left: 1rem;
  margin-left: -0.5rem;
  width: 23.3rem;
}

p.suggestion:hover {
  background: #ebebeb;
}

.logo {
  width: 5rem;
  padding: 0;
  margin: 0;
  margin-left: -0.65rem;
  margin-bottom: -1.5rem;
}

svg.feather.feather-x-circle {
  cursor: pointer;
  fill: #E9203E;
  stroke: #FFF;
}

.optin .map {
  margin-top: 1.25rem;
}

.optin-suggestion {
  width: 42.85rem !important;
}

.tag {
  margin-left: 1rem;
  background: black;
  color: #FFF;
  padding: 0.5rem;
}

.above-optin-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 3rem;
  align-items: center;
}

input.age {
  min-width: 2.5rem !important;
  width: 1rem !important;
}

input.ssn {
  min-width: 3rem;
  width: 15.44rem;
}

.signed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signed-left {
  padding-top: 3rem;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  background: #21b868;
  width: 50vw;
  height: 83vh;
  margin: 5vh;
}

.signed-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.cert-heading {
  line-height: 0.9;
  color: #FFF;
  width: 20rem;
  font-size: 3rem;
}

.cert-questions {
  color: #ADEAC7;
  font-size: 1.5rem;
}

.titles {
  margin-right: 2rem;
}

.cert-content {
  display: flex;
  flex-direction: row;
}

.cert-answers {
  color: #FFF;
  font-size: 1.5rem;
}

.card {
  background: #ebebeb;
  min-height: 20rem;
  min-width: 33rem;
  border-radius: 10px;
}

.special-back {
  stroke: white;
}

.signed a {
  border: none;
  margin-left: -1rem;
}

.signed a:hover {
  background: none;
}

h1.policy {
  width: 18rem !important;
  word-wrap: break-word;
}

.mapboxgl-map button {
  margin-right: 0 !important;
  box-shadow: none !important;
}